@use "./homepage";

// ORIGINAL STYLES ARE SET FOR 1800PX MONITOR

// LARGE SCREENS
@media (min-width: 1801px) {
    .wrapper {
        max-width: 1901px;
    }
    header {
        height: 75vh;

        .beerFoam {
            left: 34.5rem;
        }
        label {
            font-size: 2rem;
        }
        select {
            width: 15rem;
            right: -5rem;
            height: 3rem;
        }
        input[type="submit"] {
            margin-top: 3rem;
        }

        .liquid {
            left: 9rem;
        }
    }
}

@media (max-width: 1701px) {
    header {
        .beerFoam {
            left: 32rem;

            .foam22, 
            .foam23 {
                display: none;
            }
        }

        label {
            font-size: 1rem;
        }
    }
}

@media (max-width: 1601px) {
    header {
        .beerFoam {
            left: 29.25rem;
        }

        .liquid {
            left: 5rem;
        }

        input[type="submit"] {
            padding: 10px 35px 10px 20px;
        }
    }
}

@media (max-width: 1501px) {
    header {
        .beerFoam {
            left: 27rem;

            .foam21 {
                display: none;
            }
        }

        input[type="submit"] {
            padding: 10px;
        }
    }
}

// SMALLER SCREENS

// LAPTOP
@media (max-width: 1401px) {
    header {
        height: 80vh;

        .wrapper {
            width: 95%;
        }

        .headerWrapper {
            width: 40%;

        }

        .beerFoam {
            left: 30rem;
        }
        
        h1 {
            font-size: 2.35rem;
        }
        
        input[type="submit"] {
            width: 40%;
            margin-top: 1rem;
            padding: 10px 30px;
        }
    }
}

@media (max-width: 1300px) {
    header {
        .beerFoam {
            left: 26.25rem;
        }

        .selectStyles1,
        .selectStyles2 {
            label {
                font-size: 1rem;
            }
            select {
                font-size: 1rem;
            }
        }
        input[type="submit"] {
            font-size: .75rem;
        }
    }
}

@media (max-width: 1100px) {

}

@media (max-width: 1000px) {

}

// TABLET

@media (max-width: 850px) {

}

// MOBILE

@media (max-width: 550px) {

}