@use "./homepage";
@use "./footer";

// ORIGINAL STYLES ARE SET FOR 1800PX MONITOR

// LARGE SCREENS
@media (min-width: 1801px) {
    .wrapper {
        max-width: 1901px;
    }
    header {
        height: 75vh;

        .beerFoam {
            left: 34.5rem;
        }
        label {
            font-size: 2rem;
        }
        select {
            width: 15rem;
            right: -5rem;
            height: 3rem;
        }
        input[type="submit"] {
            margin-top: 3rem;
        }

        .liquid {
            left: 9rem;
        }
    }
}

@media (max-width: 1701px) {
    header {
        .beerFoam {
            left: 32rem;

            .foam22, 
            .foam23 {
                display: none;
            }
        }

        label {
            font-size: 1rem;
        }
    }
}

@media (max-width: 1601px) {
    header {
        .beerFoam {
            left: 29.25rem;
        }

        .liquid {
            left: 5rem;
        }

        input[type="submit"] {
            padding: 10px 35px 10px 20px;
        }
    }
}

@media (max-width: 1501px) {
    header {
        .beerFoam {
            left: 27rem;

            .foam21 {
                display: none;
            }
        }

        input[type="submit"] {
            padding: 10px;
        }
    }
}

// SMALLER SCREENS

// LAPTOP
@media (max-width: 1401px) {
    header {
        height: 80vh;

        .wrapper {
            width: 95%;
        }

        .headerWrapper {
            width: 40%;

        }

        .beerFoam {
            left: 30rem;
        }
        
        h1 {
            font-size: 2.35rem;
        }
        
        input[type="submit"] {
            width: 40%;
            margin-top: 1rem;
            padding: 10px 30px;
        }
    }
}

@media (max-width: 1300px) {
    header {
        .beerFoam {
            left: 26.25rem;
        }

        .selectStyles1,
        .selectStyles2 {
            label {
                font-size: 1rem;
            }
            select {
                font-size: 1rem;
            }
        }
        input[type="submit"] {
            font-size: .75rem;
        }
    }
}

@media (max-width: 1100px) {

}

@media (max-width: 1000px) {

}

// TABLET

@media (max-width: 851px) {
    header {
        height: 90vh;

        .headerWrapper {
            width: 65%;
        }

        .beerFoam {
            left: 8.75rem;

            .foam19,
            .foam20 {
                display: none;
            }
        }

        .selectStyles1,
        .selectStyles2 {
            margin: 1rem;
        }

        .liquid {
            left: 2rem;
        }

    }
    
    ul {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        overflow: hidden;
    }
}

@media (max-width: 751px) {
    header {

        height: 90vh;
        
        .headerWrapper {
            width: 75%;
        }
        
        .beerFoam {
            left: 5.5rem;
        
            .foam19,
            .foam20 {
                display: none;
            }
        }
    }
    ul {
        grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            overflow: hidden;
    }
            
}

// MOBILE

@media (max-width: 429px) {
    header {
        .beerFoam {
            left: 0;
            .foam18,
            .foam17,
            .foam16,
            .foam15,
            .foam1 {
                display: none;
            }
        }
    }
   #breweryDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    .breweryBox {
        justify-content: center;
        
    }
   }

   .brewerySelection {
    flex-direction: column;
   }

   header {
    .container {
        height: 200px;
    }
       input[type="submit"] {
        width: 260px;
        margin-top: 90px;
       }
   }
}