// Import our Fonts for Use

// IM_Fell_English ITALIC
// @font-face {
//     font-family: "IM_Fell_English";
//     src: url('../fonts/IM_Fell_English/IMFellEnglish-Italic.ttf');
//     font-weight: normal;
// }

@import url(https://fonts.googleapis.com/css?family=Lato:700,900);

// Font Colors
$h1: #b17307;
$h2: #f5deb3; 

// Background colors
$background1: #f5deb3;
$background2: #b17307;
$background3: #f2c025;